[submodule "hal/SoftSPI"]
	path = hal/SoftSPI
	url = ../SoftSPI
	branch = main
[submodule "api/AnalogButton"]
	path = api/AnalogButton
	url = ../AnalogButton
	branch = main
[submodule "api/xOS"]
	path = api/xOS
	url = ../xOS
	branch = main
[submodule "api/DS18B20"]
	path = api/DS18B20
	url = ../DS18B20
	branch = main
[submodule "arduino/dual-function-button"]
	path = arduino/dual-function-button
	url = ../dual-function-button
	branch = main
